footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #3f3f3f;
  padding: 22px 20px;
  color: #fff;

  #footer-logo {
    margin-bottom: 18px;
    font-family: "Shrikhand", "sans-serif";
    font-size: 16px;
  }

  .footer-text {
    font-size: 14px;
    i {
      margin-right: 16px;
      width: 12px;
    }
    margin-top: 5px;
  }
  .bold-footer-text {
    font-weight: 500;
  }
}
