html {
  font-family: "Roboto", sans-serif;
}

body {
  margin: 0 auto;
}

main {
  max-width: 600px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

@media screen and (min-width: 1024px) {
  main {
    max-width: 1000px;
  }
}
