@import "./variables.scss";
@import "./mixins.scss";

.menu-heading-container {
  display: flex;
  width: 100%;
  img {
    height: 280px;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
  }
}

.menu-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-color: $lightGrey;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  margin-top: -50px;
  z-index: 5;

  .menu-container-head {
    display: flex;
    margin-top: 12px;
    h2 {
      @include menuTitle;
      margin-left: 18px;
    }
    i {
      @include heartAnimation(32px, -4px, $lightGrey);
    }
  }

  .menu-category {
    display: flex;
    flex-direction: column;
    margin: 16px 0px;

    .menu-category-title {
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      margin-left: 18px;
    }
    .menu-category-title-underline {
      height: 3px;
      width: 34px;
      margin-top: 5px;
      margin-left: 18px;
      background-color: $tertiaryColor;
    }
    .menu-category-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center;
      .menu-category-element {
        @include boxShadowClickable;
        @include fadeBottomToTop;
        display: flex;
        width: calc(100% - 36px);
        margin: 8px 0;
        height: 52px;
        background-color: #fff;
        border-radius: 10px;

        .menu-category-element-content {
          display: flex;
          flex-grow: 2;
          height: 100%;
          flex-direction: column;
          margin: 0px 12px;
          justify-content: space-evenly;
          overflow: hidden;

          .menu-category-element-title {
            @include h5;
            font-weight: 600;
            margin-top: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .menu-category-element-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 12px;
            margin-top: -4px;
            .menu-category-element-subtitle {
              color: #333333;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .menu-category-element-price {
              font-weight: 700;
            }
          }
        }

        .menu-category-element-selected {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: rgb(109, 192, 153);
          width: 0px;
          overflow: hidden;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          -webkit-transition: width 0.6s ease-in-out;
          -moz-transition: width 0.6s ease-in-out;
          -o-transition: width 0.6s ease-in-out;
          transition: width 0.6s ease-in-out;
        }

        &:hover {
          .menu-category-element-selected {
            width: 42px;
          }
        }
      }
    }
  }

  button {
    align-self: center;
    margin-top: 24px;
    margin-bottom: 58px;
    @include button(12px, 32px);
  }
}

@media screen and (min-width: 620px) {
  .menu-heading-container {
    display: flex;
    width: 100%;
    justify-content: center;
    img {
      height: 380px;
      width: 80%;
      max-width: 600px;
      object-fit: cover;
      border-radius: 12px;
      margin-top: 20px;
      box-shadow: 2px 2px 6px #333333;
    }
  }

  .menu-container {
    box-shadow: 2px 2px 6px #333333;
    margin-bottom: 30px;
    border-radius: 34px;
  }
}

@media screen and (min-width: 1024px) {
  .menu-container {
    flex-direction: row;
    flex-wrap: wrap;

    .menu-container-head {
      width: 100%;
    }

    .menu-category {
      width: 50%;
    }

    button {
      align-self: flex-end;
      margin-left: auto;
      margin-right: 36px;
      margin-bottom: 18px;
    }
  }
  .menu-heading-container {
    img {
      height: 280px;
      width: 100%;
      max-width: 1000px;
      object-fit: cover;
      border-radius: 12px;
      margin-top: 20px;
      box-shadow: 2px 2px 6px #333333;
    }
  }
}
