// Colors

$primaryColor: #ff79da;
$primaryColorLight: #fb9be0;

$secondaryColor: #9356dc;
$secondaryColorLight: #a87cdd;
$secondaryColorLighter: #f7def3;

$tertiaryColor: #99e2d0;

$lightGrey: #f5f5f5;

$greenColor: #99e2d0;
