@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Shrikhand&display=swap");
html {
  font-family: "Roboto", sans-serif; }

body {
  margin: 0 auto; }

main {
  max-width: 600px;
  margin: 0 auto; }

a {
  text-decoration: none;
  color: inherit; }

#header-index {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 50px;
  box-shadow: 0px 2px 2px #bbbbbb;
  background-color: #fff;
  z-index: 10; }
  #header-index #logo {
    margin-top: 10px;
    height: 24px;
    width: auto; }

.header-pages {
  display: flex;
  position: relative;
  align-items: center;
  height: 50px;
  box-shadow: 0px 2px 2px #bbbbbb;
  background-color: #fff;
  z-index: 10; }
  .header-pages a {
    margin-top: 10px; }
    .header-pages a i {
      margin-left: 24px;
      font-size: 18px; }
  .header-pages #logo {
    position: absolute;
    margin-top: 10px;
    height: 24px;
    width: auto;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto; }

footer {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #3f3f3f;
  padding: 22px 20px;
  color: #fff; }
  footer #footer-logo {
    margin-bottom: 18px;
    font-family: "Shrikhand", "sans-serif";
    font-size: 16px; }
  footer .footer-text {
    font-size: 14px;
    margin-top: 5px; }
    footer .footer-text i {
      margin-right: 16px;
      width: 12px; }
  footer .bold-footer-text {
    font-weight: 500; }

@keyframes fadeBottomToTop {
  from {
    opacity: 0;
    margin-top: 100%; }
  to {
    opacity: 1;
    margin-left: 0%; } }
#location-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #e2e2e2;
  height: 48px;
  color: #313131; }
  #location-container i {
    font-size: 16px; }
  #location-container #location-text {
    margin-left: 10px;
    font-size: 14px;
    margin-top: 5px;
    font-weight: 500; }

#booking-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  z-index: 5;
  background-color: #f5f5f5;
  box-shadow: 0px -1px 1px #f5f5f5;
  padding: 8px 24px; }
  #booking-container h3 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    padding: 0px 62px; }
  #booking-container #booking-subtitle {
    font-weight: 300;
    font-size: 16px;
    color: #000; }
  #booking-container a {
    margin-top: 24px;
    margin-bottom: 36px; }
  #booking-container button {
    cursor: pointer;
    box-shadow: -1px 3px 4px #8a8a8a78;
    transition-duration: 300ms;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #ff79da, #9356dc);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 14px 18px; }
    #booking-container button:hover {
      box-shadow: 0px 3px 3px #8a8a8a; }
    #booking-container button:hover {
      transition-duration: 300ms;
      background: linear-gradient(90deg, #fb9be0, #a87cdd); }

@media screen and (max-width: 320px) {
  #booking-container {
    padding: 8px 20px; }
    #booking-container h3 {
      padding: 0px 52px; } }
#operation-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 12px 0px;
  background-color: #fff;
  margin-bottom: 32px; }
  #operation-container h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-right: auto;
    margin-left: 18px; }
  #operation-container .operation-step {
    box-shadow: -1px 3px 4px #8a8a8a78;
    display: flex;
    align-items: center;
    width: calc(100% - 48px);
    height: 60px;
    background-color: #f5f5f5;
    border: none;
    border-radius: 16px;
    margin: 8px 0px; }
    #operation-container .operation-step .operation-badge-counter {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-left: -10px;
      align-self: center;
      width: 22px;
      height: 22px;
      color: #fff;
      font-size: 10px;
      font-weight: 600;
      background-color: #9356dc;
      border-radius: 12px; }
    #operation-container .operation-step .operation-step-content {
      display: flex;
      flex: 1; }
      #operation-container .operation-step .operation-step-content i {
        margin-left: 20px;
        color: #747474; }
      #operation-container .operation-step .operation-step-content .operation-step-text {
        margin-left: 20px;
        font-size: 14px;
        font-weight: 600; }
  #operation-container .operation-last-step {
    background-color: #f7def3; }
    #operation-container .operation-last-step .operation-step-content i {
      color: #9356dc; }

#restaurants-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 12px 0px;
  background-color: #f5f5f5;
  padding-bottom: 42px; }
  #restaurants-container h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000;
    margin-right: auto;
    margin-left: 18px; }
  #restaurants-container .card-restaurant {
    display: flex;
    box-shadow: -1px 3px 4px #8a8a8a78;
    transition-duration: 300ms;
    cursor: pointer;
    height: 220px;
    width: calc(100% - 36px);
    background-color: #fff;
    border: none;
    border-radius: 12px;
    margin: 8px 0px; }
    #restaurants-container .card-restaurant:hover {
      box-shadow: 0px 3px 3px #8a8a8a; }
    #restaurants-container .card-restaurant a {
      width: 100%;
      height: 100%; }
      #restaurants-container .card-restaurant a img {
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px; }
      #restaurants-container .card-restaurant a .tag-new-restaurant {
        position: absolute;
        right: 0;
        margin-right: 38px;
        margin-top: 12px;
        background-color: #82c47d;
        color: #15690f;
        border-radius: 2px;
        padding: 6px 12px;
        font-weight: 500;
        font-size: 12px; }
      #restaurants-container .card-restaurant a .card-informations {
        display: flex;
        flex: 1;
        margin: 0;
        margin-top: -4px;
        height: calc(220px - 70%); }
        #restaurants-container .card-restaurant a .card-informations .card-restaurant-content {
          display: inline-flex;
          flex-direction: column;
          justify-content: center; }
          #restaurants-container .card-restaurant a .card-informations .card-restaurant-content h5 {
            font-size: 14px;
            font-weight: 700;
            color: #000;
            margin: 0;
            text-align: left;
            margin-left: 12px; }
          #restaurants-container .card-restaurant a .card-informations .card-restaurant-content .card-restaurant-location {
            font-size: 14px;
            text-align: left;
            margin-left: 12px;
            margin-top: 4px;
            font-weight: 300; }
        #restaurants-container .card-restaurant a .card-informations i {
          align-self: center;
          margin-left: auto;
          margin-right: 24px;
          margin-top: -12px;
          font-size: 24px;
          -webkit-text-stroke-width: 1px;
          -webkit-text-stroke-color: black;
          -webkit-text-fill-color: #fff;
          opacity: 1;
          cursor: pointer; }
          #restaurants-container .card-restaurant a .card-informations i:hover {
            -webkit-text-stroke-color: #ff79da;
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent; }
          #restaurants-container .card-restaurant a .card-informations i::after {
            content: "\f004";
            background: linear-gradient(#ff79da, #9356dc);
            background-clip: text;
            -webkit-background-clip: text;
            position: absolute;
            margin-left: -24px;
            opacity: 0; }
          #restaurants-container .card-restaurant a .card-informations i:hover::after {
            transition-property: opacity;
            transition-duration: 0.6s;
            transition-timing-function: ease-in;
            opacity: 1; }
    #restaurants-container .card-restaurant:hover {
      opacity: 0.9; }

@keyframes fadeBottomToTop {
  from {
    opacity: 0;
    margin-top: 100%; }
  to {
    opacity: 1;
    margin-left: 0%; } }
.menu-heading-container {
  display: flex;
  width: 100%; }
  .menu-heading-container img {
    height: 280px;
    width: 100%;
    max-width: 600px;
    object-fit: cover; }

.menu-container {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  background-color: #f5f5f5;
  border-top-left-radius: 34px;
  border-top-right-radius: 34px;
  margin-top: -50px;
  z-index: 5; }
  .menu-container .menu-container-head {
    display: flex;
    margin-top: 12px; }
    .menu-container .menu-container-head h2 {
      font-size: 22px;
      font-family: "Shrikhand", "sans-serif";
      margin-left: 18px; }
    .menu-container .menu-container-head i {
      align-self: center;
      margin-left: auto;
      margin-right: 32px;
      margin-top: -4px;
      font-size: 24px;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: black;
      -webkit-text-fill-color: #f5f5f5;
      opacity: 1;
      cursor: pointer; }
      .menu-container .menu-container-head i:hover {
        -webkit-text-stroke-color: #ff79da;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; }
      .menu-container .menu-container-head i::after {
        content: "\f004";
        background: linear-gradient(#ff79da, #9356dc);
        background-clip: text;
        -webkit-background-clip: text;
        position: absolute;
        margin-left: -24px;
        opacity: 0; }
      .menu-container .menu-container-head i:hover::after {
        transition-property: opacity;
        transition-duration: 0.6s;
        transition-timing-function: ease-in;
        opacity: 1; }
  .menu-container .menu-category {
    display: flex;
    flex-direction: column;
    margin: 16px 0px; }
    .menu-container .menu-category .menu-category-title {
      font-weight: 300;
      font-size: 14px;
      text-transform: uppercase;
      margin-left: 18px; }
    .menu-container .menu-category .menu-category-title-underline {
      height: 3px;
      width: 34px;
      margin-top: 5px;
      margin-left: 18px;
      background-color: #99e2d0; }
    .menu-container .menu-category .menu-category-list {
      display: flex;
      flex-direction: column;
      width: 100%;
      align-items: center; }
      .menu-container .menu-category .menu-category-list .menu-category-element {
        box-shadow: -1px 3px 4px #8a8a8a78;
        transition-duration: 300ms;
        cursor: pointer;
        animation-name: fadeBottomToTop;
        animation-duration: 1.5s;
        animation-iteration-count: 1;
        display: flex;
        width: calc(100% - 36px);
        margin: 8px 0;
        height: 52px;
        background-color: #fff;
        border-radius: 10px; }
        .menu-container .menu-category .menu-category-list .menu-category-element:hover {
          box-shadow: 0px 3px 3px #8a8a8a; }
        .menu-container .menu-category .menu-category-list .menu-category-element .menu-category-element-content {
          display: flex;
          flex-grow: 2;
          height: 100%;
          flex-direction: column;
          margin: 0px 12px;
          justify-content: space-evenly;
          overflow: hidden; }
          .menu-container .menu-category .menu-category-list .menu-category-element .menu-category-element-content .menu-category-element-title {
            font-size: 14px;
            font-weight: 700;
            color: #000;
            font-weight: 600;
            margin-top: 2px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis; }
          .menu-container .menu-category .menu-category-list .menu-category-element .menu-category-element-content .menu-category-element-footer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-size: 12px;
            margin-top: -4px; }
            .menu-container .menu-category .menu-category-list .menu-category-element .menu-category-element-content .menu-category-element-footer .menu-category-element-subtitle {
              color: #333333;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis; }
            .menu-container .menu-category .menu-category-list .menu-category-element .menu-category-element-content .menu-category-element-footer .menu-category-element-price {
              font-weight: 700; }
        .menu-container .menu-category .menu-category-list .menu-category-element .menu-category-element-selected {
          display: flex;
          align-items: center;
          justify-content: center;
          color: white;
          background-color: #6dc099;
          width: 0px;
          overflow: hidden;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          -webkit-transition: width 0.6s ease-in-out;
          -moz-transition: width 0.6s ease-in-out;
          -o-transition: width 0.6s ease-in-out;
          transition: width 0.6s ease-in-out; }
        .menu-container .menu-category .menu-category-list .menu-category-element:hover .menu-category-element-selected {
          width: 42px; }
  .menu-container button {
    align-self: center;
    margin-top: 24px;
    margin-bottom: 58px;
    cursor: pointer;
    box-shadow: -1px 3px 4px #8a8a8a78;
    transition-duration: 300ms;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    background: linear-gradient(135deg, #ff79da, #9356dc);
    color: #fff;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 32px; }
    .menu-container button:hover {
      box-shadow: 0px 3px 3px #8a8a8a; }
    .menu-container button:hover {
      transition-duration: 300ms;
      background: linear-gradient(90deg, #fb9be0, #a87cdd); }

/*# sourceMappingURL=style.css.map */
